<head><title>Buy In For Earth</title>  

</head>

<h1 class="search">BuyInForEarth</h1>
<div class="coontainer">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            The 21st Century is not a century for wimps
                        </h2>
                        <h3 class="post-subtitle">
                            Problems look mighty small from 150 miles up
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">BuyInForEarth</a> on February 2, 2016</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                           Afraid of the big problems we all face?
                        </h2>
                    </a>
                    <p class="post-meta">Posted by <a href="#">BuyInForEarth</a> on February 2, 2016</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                           Find who is in action and get in action yourself.
                        </h2>
                        <h3 class="post-subtitle">
                        	Only your action will alleviate this fear.
                            We predict too much for the next year and yet far too little for the next ten.
                            
                        </h3>
                    </a>
                     <p class="post-meta">Posted by <a href="#">BuyInForEarth</a> on February 2, 2016</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Failure is not an option
                        </h2>
                        <h3 class="post-subtitle">
                        	Afraid of the Future?  Find action, take action!
                            Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                            
                        </h3>
                    </a>
                     <p class="post-meta">Posted by <a href="#">BuyInForEarth</a> on February 2, 2016</p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

